<!DOCTYPE html>
<html lang="en">

<head>
    <title>Admin Dashboard</title>

    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
</head>

<body>

<nav>
    <h2>🎓 Admin Dashboard</h2>
</nav>


<div class="hero">

    <h1>Welcome Admin 👨‍💼</h1>

    <div class="login-container">


        <div class="login-card">

            <h2>Add Student</h2>

            <p>
                Add new student records
            </p>

            <a href="{{ url_for('add_student') }}">
                <button>Add Student</button>
            </a>

        </div>



        <div class="login-card">

            <h2>Student List</h2>

            <p>
                View all students
            </p>

            <a href="{{ url_for('students') }}">
                <button>View Students</button>
            </a>

        </div>


    </div>

</div>


</body>

</html>