<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>Mark Attendance</title>

    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">

</head>

<body>

    <nav>
        <h2>🎓 Attendance Management</h2>
    </nav>

    <div class="hero">

        <h1>Mark Student Attendance</h1>

        <form method="POST">

            <label>Select Student</label>

            <select name="student_id" required>

                {% for student in students %}

                    <option value="{{ student[0] }}">
                        {{ student[1] }} ({{ student[2] }})
                    </option>

                {% endfor %}

            </select>

            <br><br>

            <label>Status</label>

            <select name="status" required>

                <option value="Present">Present</option>
                <option value="Absent">Absent</option>

            </select>

            <br><br>

            <button type="submit">
                Mark Attendance
            </button>

        </form>

    </div>

</body>

</html>